.beach-description-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.p{
    width: 100%;
    padding: 10px;
    color: black;
    border-radius: 10px;
    align-self: flex-start;
}

.header{
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    color: black;

}

.carousel-size{
    width: 80%;
    aspect-ratio: 3/2;
}

.carousel-image{
    width: inherit;
}