.square{
    width: 30px;
    height: 30px;
    background-color: #3498db; /* Placeholder color for umbrellas */
    border: 1px #282c34;
    margin: 5px;
    flex-shrink: 0;
    border-radius: 2px;
}

.umbrella-container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    min-height: 180px; /* Minimum height for the container */
    max-height: 400px; /* Maximum height for the container */
    padding: 20px;
    margin: 100px 10px 10px;
}

.invisible {
    visibility: hidden;
}

.green{
    background-color: #4CAF50;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}