/* FilterArea.css */
.filter-area {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #B48291;
}

.filter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

label {
    margin-right: 5px;
}

select,
input[type="number"],
input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
