.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #5E8472;
}

.filter{
    margin: 0 5px;
}
