.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #5E8470;
}

.filter{
    margin: 0 5px;
}
