.square{
    width: 30px;
    height: 30px;
    background-color: #3498db; /* Placeholder color for umbrellas */
    border: 1px #282c34;
    margin: 5px;
    flex-shrink: 0;
}

.umbrella-container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    min-height: 180px; /* Minimum height for the container */
    max-height: 400px; /* Maximum height for the container */
    padding: 20px;
    border: 1px solid black;
    margin: 60px 10px 10px;

}