.beach-details{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column; /* Arrange components vertically */
    align-items: flex-start; /* Align components to the left */
    padding: 10px; /* Add padding for spacing */
    background-color: #77BA99;
    overflow-y: scroll;
}

.beach-details::-webkit-scrollbar {
    width: 1px;
}

.beach-details::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.beach-details::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.section{
    display: flex;
    width: 100%;
    border-top: 1px solid black;
    justify-content: center;
}

.beach-colors{
    background: linear-gradient(to top, lightgoldenrodyellow, papayawhip,papayawhip,papayawhip, dodgerblue);

}


