.nav-bar {
    height: 6vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    background-color: #353F43;
}

.nav-button {
    /* Add styles for the login button */
    height: inherit;
    color: white;
    border: 1px solid #353F43;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Bahnschrift, serif;

}
.in {
    background-color: #4CAF70;
}

.out{
    background-color: crimson;
}
.invisible{
    visibility: hidden;
}
.in:hover {
    background-color: #45a049; /* Add a hover effect for the button */
}

.out:hover{
    background-color: darkred;
}

.logo {
    font-size: 20px;
}

